main, body, #app{
  font-size:16px !important;
}
h1{
  font-size:2.4em;
  line-height:1.05em;
  font-weight:900;
  color:#282828;
  margin:16px 0px;
}

h2{
  font-size:2em;
  font-weight:900;
  line-height:1.2em;
  color:#282828;
  margin: 16px 0px;
}
h3{
  font-size:1.4em;
  font-weight:600;
  line-height:1.2em;
  color:#282828;
  margin: 16px 0px;
}
h4{
  font-size:1.2em;
  font-weight:900;
  line-height:1.2em;
  color:#282828;
  margin: 4px 0px;
}
p{
  font-size:1em;
  font-weight:400;
  line-height:1.4em;
  color:#282828;
  margin: 16px 0px;
}
.p-sm{
  font-size:0.8em;
  line-height: 1.3em;
}
b, strong{
  font-weight: 600 !important;
}
small{
  color:#444444;
}
.center{
  text-align:center;
  margin:auto;
}
.grey-card{
    background-color:#f5f5f5 !important;
    border-radius:4px !important;
}
.v-input__details {

  display:none !important;
  }
  .v-input{
    padding-bottom:8px !important;
  }
  
.no-bullets{
  list-style: none;
}
li{
  margin:0.6em 0px;
}
.v-card{
  padding:24px 32px !important;
  border:none;
  word-break:normal !important;
}
.v-card.elevation-1{
  box-shadow: 0.5px 0.5px 15px 0px rgba(220, 220, 220, 0.5) !important; 
}
.v-card>ul>li{
  font-size: 0.9em;
}


.scatter-plot > .title{
  font-size:1.2em;
  font-weight:700;
  fill: #444444;
}
.tick > line{
  stroke:#444444;
  stroke-width:.25px;
}
.tick > text{
  font-size:12px;
  color:#444444;
}
.axis.title{
  font-size:14px;
  font-weight:700;
  fill: #444444;
}

a{
  color:#8e62c2;
  text-decoration:none;
  border-bottom:.5px solid #8e62c2;
}
.boxplot-box{
  pointer-events:none;
}
.scatter-pt:hover, .boxplot-pt:hover{
cursor: pointer;
}
.mouseover > circle{
fill-opacity:1;
stroke:black;
}
.scatter-pt-label, .boxplot-pt-label{
  pointer-events: none;
  font-size:0.8em;
  font-weight:800;
  filter: drop-shadow(.4px .4px .4px rgba(255, 255, 255, 1));
  text-shadow: 0px 0px 3px white,0px 0px 3px white;
}
.selected > circle{
  stroke:black;
  stroke-width:1.75px;
}

@media (max-width: 600px){

  main, body, #app{
    font-size:20px !important;
  }
  h1{
    font-size:2.2em !important;
  }
  h2{
    font-size:1.8em !important;
  }
}


@media (min-width: 1280px){
  main, body, #app{
    font-size:16px !important;
  }
  .v-container {
    max-width: 1100px !important;
  }
}
