/* section{
  margin:56px 0px;
} */
h1{
  font-size:2.75em;
  line-height:1.05em;
  font-weight:900;
  color:#282828;
  margin:16px 0px;
}

h2{
  font-size:2.2em;
  font-weight:900;
  line-height:1.2em;
  color:#282828;
  margin: 16px 0px;
}
h3{
  font-size:1.6em;
  font-weight:700;
  line-height:1.2em;
  color:#282828;
  margin: 4px 0px;
}
h4{
  font-size:1.3em;
  font-weight:900;
  line-height:1.2em;
  color:#282828;
  margin: 4px 0px;
}
p{
  font-size:1.15em;
  font-weight:400;
  line-height:1.4em;
  color:#282828;
  margin: 16px 0px;
}
b, strong{
  font-weight: 600 !important;
}
.center{
  text-align:center;
  margin:auto;
}
.no-bullets{
  list-style: none;
}
li{
  margin:0.6em 0px;
}
.scatter-plot > .title{
  font-size:1.2em;
  font-weight:900;
  fill: #282828;
}
.tick > line{
  stroke:#868686;
  stroke-width:.25px;
}
.tick > text{
  font-size:12px;
  color:#868686;
}
.axis.title{
  font-size:14px;
  font-weight:900;
  fill: #868686;
}

a{
  color:purple;
  text-decoration:none;
  border-bottom:.5px solid purple;
}
@media (min-width: 1280px){
  .v-container {
    max-width: 1100px !important;
  }
}

